.tags a {
  padding-right: 4px;
}

.label {
  border-radius: 0;
  background-color: #999;
}

.label:hover {
  border-radius: 0;
  background-color: #666;
}

h1, h2, h3 {
  font-family: Georgia;
  font-weight: normal;
}

.post h1 {
  padding: 10px;
  background-color: #f0f0f0;
  margin: 15px 0 5px;
}

.well {
  background-color: #f0f0f0;
  border-radius : 0;
  border: 0;
  box-shadow: none;
}

.navbar .brand {
  padding: 14px 20px;  
  font-family: Chunkfive, Georgia;
  font-weight: normal;
  font-size: 24px;
}

.post .post_details {
  font-size: 11px;
  padding-top: 8px;
  text-align: right;
}

body {
  margin-top: 0;
}

p, li {
  color: #333;
  line-height: 1.7em;
  font-family: Georgia, serif;
}

.post .content {
  line-height: 1.7em;
  font-family: Georgia, serif;
}

.post .content p {
  margin-top: 8px;
}

.post .content img {
  display: block;  
  border: 8px solid #fff;
  box-shadow: 0 0 8px #ccc;
  margin: 10px auto;
}

a:hover {
  color: #666;
}

h3 .tag, h3 .category {
  font-weight: bold;
}

.navbar {
  position: static;
  margin-bottom: 10px;
  border-bottom: 10px solid #666;
}

.navbar-inner {
  background-image: none;
}

@font-face {
  font-family: Chunkfive;
  src: url('fonts/Chunkfive-webfont.eot');
  src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Chunkfive-webfont.woff') format('woff'), 
       url('fonts/Chunkfive-webfont.ttf') format('truetype'), 
       url('fonts/Chunkfive-webfont.svg#webfont') format('svg');

  font-weight: normal;
  font-style: normal;
}

a { color: #000; }
.blue a { color: #08c; }
.orange a { color: #c90; }
.red a { color: #944; }
.green a { color: #093; }
.purple a { color: #808; }
.blue .comments h3 { color: #08c; }
.orange .comments h3 { color: #c90; }
.red .comments h3 { color: #944; }
.green .comments h3 { color: #093; }
.purple .comments h3 { color: #808; }
.blue .navbar-inner { background-color: #08c; }
.red .navbar-inner { background-color: #944; }
.orange .navbar-inner { background-color: #c90; }
.green .navbar-inner { background-color: #093; }
.purple .navbar-inner { background-color: #808; }

q:before { content: open-quote; }
q:after { content: close-quote; }
cite: { font-style: italic; }
